:root {
  --bg: #f5eee6;
  --primary: #c86b85;
  --accent: #34286d;
  --text: rgba(0, 0, 0, 0.875);
  --card: hsla(0, 0%, 100%, 0.875);
}

body {
  background-color: var(--bg);
}

.navbar {
  background-color: #2e3447 !important;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.navbar .navbar-brand:link,
.navbar .navbar-brand:visited {
  color: var(--primary);
  font-weight: bolder;
  font-size: 30pt;
  transition: all 0.2s ease-in-out;
}

.navbar .navbar-brand:hover {
  color: var(--bg);
  font-weight: bolder;
  font-size: 30pt;
}

.navbar .nav-item a:link,
.navbar .nav-item a:visited {
  color: var(--bg);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.navbar .nav-item a:hover {
  color: var(--primary);
  transform: scale(1.1, 1.1);
}

.navbar-toggler {
  border: 1px solid var(--accent);
}

.section {
  margin-top: 720px;
  text-align: center;
  padding-bottom: 50px;
}
.section-title {
  color: var(--primary);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40pt;
}

.section-subtitle {
  color: var(--text);
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 20pt;
  padding-bottom: 30px;
}

.section-text {
  color: var(--text);
  font-size: 15pt;
  font-family: "Lora", serif;
  margin: 10px 25vw;
}

.profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 5px 0 10px 0;
}

.portfolio {
  background-color: #f3d7ca;
}

.socials-list {
  list-style-type: none;
  display: block;
  position: relative;
  width: 100%;
  left: 0;
  bottom: 10px;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

.socials-list > li {
  display: inline;
}

.socials-list i {
  color: var(--bg);
  font-size: 35pt;
  padding: 0 15px;
}

.socials-list i:hover {
  color: var(--primary);
}

.card {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: var(--card);
  color: var(--text);
  font-family: "Lora", serif;
}

.card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  z-index: 1;
}

.card-columns {
  margin: 0 30px;
  padding: 0 0 30px;
}

.card-title {
  font-family: "Source Serif Pro", serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20pt;
  font-weight: bolder;
}

.skills-list {
  display: inline-block;
  list-style-type: square;
}

.skills-list li {
  text-align: left;
  font-size: 15pt;
  font-family: "Poppins", serif;
}

.education {
  font-size: 12pt;
  font-family: "Poppins", serif;
}

.outline-button:link,
.outline-button:visited {
  display: inline-block;
  color: var(--text);
  text-align: center;
  background: transparent;
  font-family: "Poppins", serif;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  padding: 0.3rem;
  margin: 25px 20px 0;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  border: 3px solid #000000;
  transition: all 0.3s ease-in-out;
}

.outline-button:hover {
  border: 3px solid var(--primary);
  color: var(--primary);
}

.contact {
  background-color: #2e3447;
}

.contact-section-subtitle {
  color: var(--bg);
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 20pt;
  padding-bottom: 20px;
}

.contact-section-text {
  color: var(--bg);
  font-family: "Poppins", serif;
  font-weight: normal;
  font-size: 14pt;
  padding-bottom: 15px;
}

h1[id]::before,
h2[id]::before,
h3[id]::before,
h4[id]::before,
h5[id]::before,
h6[id]::before {
  display: block;
  height: 70px;
  margin-top: -700px;
  visibility: hidden;
  content: "";
}

.fa-bars {
  color: var(--accent);
  padding-top: 5px;
}
